# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data directories (Heavy DB files and CSVs)
data/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
